:root {
   --ut-body-content-padding-y: 2rem;
   --ut-body-content-padding-x: 2rem;
}

@media (min-width: 639px) {
#globalSearchRegion {max-width: 80%; margin: 0 auto;}
}

.wm-line-through {
    text-decoration: line-through;
}