:root {
    --ut-breadcrumb-padding-x: .2rem;
    --ut-breadcrumb-padding-y: 0.1rem;
    --rw-palette-ocean-0: #fff;
    --rw-palette-ocean-10: #f5fafc;
    --rw-palette-ocean-20: #edf6f9;
    --rw-palette-ocean-30: #e7f2f5;
    --rw-palette-ocean-40: #d0e5ed;
    --rw-palette-ocean-50: #b5d5e0;
    --rw-palette-ocean-60: #94bfce;
    --rw-palette-ocean-70: #81b2c3;
    --rw-palette-ocean-80: #6ba1b6;
    --rw-palette-ocean-90: #558ea4;
    --rw-palette-ocean-100: #437c94;
    --rw-palette-ocean-110: #3b7087;
    --rw-palette-ocean-120: #36677d;
    --rw-palette-ocean-130: #325c72;
    --rw-palette-ocean-140: #2c5266;
    --rw-palette-ocean-150: #264759;
    --rw-palette-ocean-160: #1f3a4b;
    --rw-palette-ocean-170: #1a2f3f;
    --rw-palette-ocean-180: #13212c;
    --rw-palette-ocean-190: #0b171f;
    --rw-palette-ocean-200: #000;

}

@media (max-width: 639px) {
  .t-BreadcrumbRegion {
      --ut-breadcrumb-padding-y: .1rem;
  }

  .avatar {
    width: 32px;
    height: 32px;
  }

  #profileRegion h3 {
      font-size: 1em;
      line-height: 1;
  }

  .-wm-rank-pro-profile {
    font-size: 1em;
  }
  .rank {
    padding: 0.2em .7em;
  }

}

.a-ResultsItem-image img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.avatar {
    background-size: cover;
    border-radius: 50%;
}
.avatar.md {
    width: 32px;
    height: 32px;
}
.avatar.lg {
    width: 129px;
    height: 129px;
}

.t-NavigationBar-item.has-username .t-Button-label {
    text-transform: none!important;
}

.legend {
 font-size: .8em;
 color: #767676;
}
.legend .key {
  width: 20px;
  height: 20px;
}

.legend .avatar {
    width: 24px;
    height: 24px;
}

.mark {
    background-color: #ff0;
    color: #000;
}

.apex-theme-ww-v1 .mark,
.apex-theme-ww-v1 .t-Report--altRowsDefault .t-Report-report tr.mark:nth-child(odd) {
  background-color: var(--ut-focus-outline-color);
  color: var(--ut-alert-title-text-color);
}

/* force alternating rows to "mark" */
.t-Report--altRowsDefault .t-Report-report tr.mark:nth-child(odd) {
    --ut-report-cell-background-color: #ff0;
    color: #000;
}

@keyframes -wm-glow-blue {
  from {
    box-shadow: 0 0 10px -10px #aeddf4;
  }
  to {
    box-shadow: 0 0 10px 10px #aeddf4;
  }
}

.-wm-animate-glow-blue {
 animation: -wm-glow-blue 1s infinite alternate;
}

/* Profiles */
.-wm-rank-elite:before {
  content:"\f005";
  color: darkorange;
}
.-wm-rank-pro:before {
  content:"\f006";
  color: red;
}
.-wm-rank-semi:before {
  content:"\f123";
  color: blue;
}
.-wm-rank-ama:before {
  content:"\f089";
  color: #24e765; /* green */
}
.-wm-rank-rise:before {
  content:"\f005";
  color: darkorange;
}
.-wm-rank-na:before {
  content:"\f089";
  color: gray; /* gray */
}

/* New Player Indicator */
.-wm-rank-new:before {
 content: "\f06c";
 color: green;
}

.rank {
    padding: 0.3em 1em;
}

.-wm-rank-elite-profile,
.-wm-rank-pro-profile,
.-wm-rank-semi-profile,
.-wm-rank-rise-profile,
.-wm-rank-ama-profile {
    display: inline-block;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 0.2);
}
.-wm-rank-elite-profile {
    font-weight: 600;
    font-size: 1.2em;
    background-image: linear-gradient(45deg, hsl(31deg 89% 95%) 6%, hsl(46deg 89% 50%) 25%, hsl(48deg 92% 51%) 50%, hsl(32deg 100% 70%) 75%,rgb(255, 136, 0) 100%);
    border-radius: 7%;
    color: #666666;
}

.-wm-rank-pro-profile {
    font-weight: 400;
    font-size: 1.2em;
    background-image: linear-gradient( 45deg, hsl(240deg 4% 69%) 0%, hsl(270deg 4% 65%) 11%, hsl(307deg 3% 62%) 22%, hsl(333deg 3% 59%) 33%, hsl(350deg 3% 56%) 44%, hsl(3deg 3% 52%) 56%, hsl(14deg 3% 49%) 67%, hsl(24deg 4% 45%) 78%, hsl(34deg 3% 42%) 89%, hsl(357.53deg 85.98% 56.82%) 100% );
    border-radius: 7%;
    color: whitesmoke;
}

.-wm-rank-semi-profile {
    font-size: 1.1em;
    color: navy;
    border: 1px solid navy;
    background-image: linear-gradient(45deg, hsl(0deg 0% 95%) 0%, hsl(0deg 0% 85%) 25%, hsl(270deg 100% 95%) 50%, hsl(240deg 100% 80%) 75%, hsl(240deg 100% 65%) 100%);
    border-radius: 5%;
    display: inline-block;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.-wm-rank-rise-profile {
    color: whitesmoke;
    background: darkorange;
    background: linear-gradient(90deg, rgb(129 51 18) 0%, rgb(121, 82, 9) 35%, rgb(255, 136, 0) 100%);
    border: 1px solid darkorange;
}

.-wm-rank-ama-profile {
    font-size: 1.1em;
    color: whitesmoke;
    background: green;
    background: linear-gradient(90deg, rgb(4, 56, 4) 0%, rgb(52, 141, 10) 35%, rgb(34, 187, 34) 100%);
    border: 1px solid olive;
    border-radius: 5%;
}

.-wm-rank-na-profile {
    color: gray;
}
.-wm-rank-new-profile {
    background-color: #ffe557;
    border: 1px solid gold;
    border-radius: 5%;
    display: inline-block;
}

/* when combining profile and inline views */
.-wm-rank-new-profile.rank.-wm-rank-new:before {
    color: brown;
}

#badgeKey {
  --ut-report-cell-padding-y: .3rem;
}


/*
 Font Awesome Customizations - START
 */
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
.fa-edit:before, .fa-pencil-square-o:before {
  color: #4B66A7;
}
.cfa-1_5x {
  font-size: 1.4em;
}
.cfa-check_N:before {
  content: "\f00d";
  color: red;
}
.cfa-check_Y:before {
  content: "\f00c";
  color: green;
}
.cfa-check2_Y:before {
  content: "\f00c";
  color: green;
}
.cfa-edit_N:before {
  content: "\f023";
  color: #444444;
}
.cfa-edit_Y:before {
  content: "\f09c";
  color: green;
}
.cfa-warning_Y:before {
  content: "\f071";
  color: #CC8024;
}
.cfa-note_Y:before {
  content: "\f075";
}
/*
 Font Awesome Customizations - END
*/

.apex-theme-vita-dark td.top {
    background-color: var(--u-color-1);
    color: var(--u-color-1-contrast);
}
.apex-theme-vita-dark .p10 {
    background-color: var(--u-color-2);
    color: var(--u-color-2-contrast);
}
.apex-theme-vita-dark .p9 {
    background-color: var(--u-color-3);
    color: var(--u-color-3-contrast);
}
.apex-theme-vita-dark .p8 {
    background-color: var(--u-color-4);
    color: var(--u-color-4-contrast);
}
.apex-theme-vita-dark .p7 {
    background-color: var(--u-color-5);
    color: var(--u-color-5-contrast);
}
.apex-theme-vita-dark .p6 {
    background-color: var(--u-color-6);
    color: var(--u-color-6-contrast);
}
.apex-theme-vita-dark .p5 {
    background-color: var(--u-color-13);
    color: var(--u-color-13-contrast);
}
.apex-theme-vita-dark .p4 {
    background-color: var(--u-color-14);
    color: var(--u-color-14-contrast);
}
.apex-theme-vita-dark .p3 {
    background-color: var(--u-color-15);
    color: var(--u-color-15-contrast);
}
.apex-theme-vita-dark .points.p2 {
    background-color: var(--u-color-16);
    color: var(--u-color-16-contrast);
}
.apex-theme-vita-dark .points.p1 {
    background-color: var(--u-color-17);
    color: var(--u-color-17-contrast);
}

.apex-theme-vita-dark tr.podium td {
    --ut-report-cell-background-color:hsl(48deg 85% 46%);
}
.apex-theme-vita-dark tr.podium.podium3 td {
    --ut-report-cell-background-color: #da7c2f;
}

.apex-theme-vita td.top {
    background-color: var(--u-color-1);
    color: var(--u-color-1-contrast);
}
.apex-theme-vita .p10 {
    background-color: var(--u-color-2);
    color: var(--u-color-2-contrast);
}
.apex-theme-vita .p9 {
    background-color: var(--u-color-3);
    color: var(--u-color-3-contrast);
}
.apex-theme-vita .p8 {
    background-color: var(--u-color-4);
    color: var(--u-color-4-contrast);
}
.apex-theme-vita .p7 {
    background-color: var(--u-color-5);
    color: var(--u-color-5-contrast);
}
.apex-theme-vita .p6 {
    background-color: var(--u-color-6);
    color: var(--u-color-6-contrast);
}
.apex-theme-vita .p5 {
    background-color: var(--u-color-13);
    color: var(--u-color-13-contrast);
}
.apex-theme-vita .p4 {
    background-color: var(--u-color-14);
    color: var(--u-color-14-contrast);
}
.apex-theme-vita .p3 {
    background-color: var(--u-color-15);
    color: var(--u-color-15-contrast);
}
.apex-theme-vita .points.p2 {
    background-color: var(--u-color-16);
    color: var(--u-color-16-contrast);
}
.apex-theme-vita .points.p1 {
    background-color: var(--u-color-17);
    color: var(--u-color-17-contrast);
}

