:root {
    --ut-breadcrumb-padding-x: .2rem;
    --ut-breadcrumb-padding-y: 0.1rem;
}

@media (max-width: 639px) {
  .t-BreadcrumbRegion {
      --ut-breadcrumb-padding-y: .1rem;
  }

  .avatar {
    width: 32px;
    height: 32px;
  }

  #profileRegion h3 {
      font-size: 1em;
      line-height: 1;
  }

  .-wm-rank-pro-profile {
    font-size: 1em;
  }
  .rank {
    padding: 0.2em .7em;
  }

}

.a-ResultsItem-image img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.avatar {
    background-size: cover;
    border-radius: 50%;
}
.avatar.md {
    width: 32px;
    height: 32px;
}
.avatar.lg {
    width: 129px;
    height: 129px;
}

.t-NavigationBar-item.has-username .t-Button-label {
    text-transform: none!important;
}

.legend {
 font-size: .8em;
 color: #767676;
}
.legend .key {
  width: 20px;
  height: 20px;
}

.legend .avatar {
    width: 24px;
    height: 24px;
}

.mark {
    background-color: #ff0;
    color: #000;
}
/* force alternating rows to "mark" */
.t-Report--altRowsDefault .t-Report-report tr.mark:nth-child(odd) {
    --ut-report-cell-background-color: #ff0;
    color: #000;
}


/* Profiles */
.-wm-rank-pro:before {
  content:"\f005";
  color: red;
}
.-wm-rank-semi:before {
  content:"\f123";
  color: blue;
}
.-wm-rank-ama:before {
  content:"\f006";
  color: green;
}

/* New Player Indicator */
.-wm-rank-new:before {
 content: "\f069";
 color: gold;
}

.rank {
    padding: 0.3em 1em;
}
.-wm-rank-pro-profile {
    font-weight: 400;
    font-size: 1.2em;
    background-image: linear-gradient( 45deg, hsl(240deg 4% 69%) 0%, hsl(270deg 4% 65%) 11%, hsl(307deg 3% 62%) 22%, hsl(333deg 3% 59%) 33%, hsl(350deg 3% 56%) 44%, hsl(3deg 3% 52%) 56%, hsl(14deg 3% 49%) 67%, hsl(24deg 4% 45%) 78%, hsl(34deg 3% 42%) 89%, hsl(48deg 3% 39%) 100% );
    border-radius: 7%;
    color: whitesmoke;
    display: inline-block;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 0.2);
}

.-wm-rank-semi-profile {
    font-size: 1.1em;
    color: navy;
    border: 1px solid navy;
    border-radius: 5%;
    display: inline-block;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.-wm-rank-ama-profile {
    color: green;
}
.-wm-rank-new-profile {
    background-color: #ffe557;
    border: 1px solid gold;
    border-radius: 5%;
    display: inline-block;
}
/* when combining profile and inline views */
.-wm-rank-new-profile.rank.-wm-rank-new:before {
    color: brown;
}

#badgeKey {
  --ut-report-cell-padding-y: .3rem;
}


/*
 Font Awesome Customizations - START
 */
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
.fa-edit:before, .fa-pencil-square-o:before {
  color: #4B66A7;
}
.cfa-1_5x {
  font-size: 1.4em;
}
.cfa-check_N:before {
  content: "\f00d";
  color: red;
}
.cfa-check_Y:before {
  content: "\f00c";
  color: green;
}
.cfa-check2_Y:before {
  content: "\f00c";
  color: green;
}
.cfa-edit_N:before {
  content: "\f023";
  color: #444444;
}
.cfa-edit_Y:before {
  content: "\f09c";
  color: green;
}
.cfa-warning_Y:before {
  content: "\f071";
  color: #CC8024;
}
.cfa-note_Y:before {
  content: "\f075";
}
/*
 Font Awesome Customizations - END
*/
