li .content-list {
  width: 100%;
}

.week-name  {
    border-radius: 10px;
    padding: 3px 5px;
    background-color: rgb(79, 79, 189);
    color: white;
    margin-left: 1rem;
}

.week-info-list {
  margin: 1rem;
  margin-top: 15px;
  margin-left: 15px;
}
.courses {margin: 0 auto;}

.courses .easy,
.courses .hard {
    border-radius: 10px;
    padding: 3px 5px;
}

.courses .easy {
    background-color: rgb(133, 187, 57);
}
.courses .hard {
    color: white;
    background-color: rgb(216, 138, 43);
}
